@use 'variables' as v;

:host {
  display: contents;
}

.login-card {
  display: flex;
  flex-direction: column;
  gap: v.space-fluid('lg', 'xl-xxl');
  text-align: center;
}

.login-card__title {
  color: v.color('primary');
}

.login-card__form {
  display: flex;
  flex-direction: column;
  gap: v.space-fluid('md', 'xl');
}

.login-card__general {
  justify-content: center;
}

.login-card__forgot {
  align-self: center;

  &:hover {
    border-color: transparent;
    background-color: v.color('bg');
  }
}

.login-card__divider {
  display: flex;
  align-items: center;
  gap: v.space('md');
  color: v.color('black');

  &::before,
  &::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: v.color('lines');
  }
}

.login-card__google {
  width: 100%;
  background-color: v.color('bg');
  color: v.color('primary');

  &:hover {
    color: v.color('primary-hover');
  }

  &:active {
    color: v.color('primary-active');
  }
}

.login-card__google-icon {
  width: v.$icon-lg;
  height: v.$icon-lg;
}

.login-card__actions {
  display: flex;
  justify-content: center;
  gap: v.space('xl');
  flex-wrap: wrap;
}
