@use 'variables' as v;
@use 'mixins' as m;

.footer {
  display: flex;
  justify-content: center;
  padding: v.space('lg');

  @include m.respond-short {
    padding: v.space('md');
  }
}

.footer__nav {
  display: flex;
  gap: v.space('xl');
}
